<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	
	<display-name>bsong1</display-name>
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	
	<servlet>
		<description></description>
		<display-name>AdminIndexContactController</display-name>
		<servlet-name>AdminIndexContactController</servlet-name>
		<servlet-class>controller.AdminIndexContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexContactController</servlet-name>
		<url-pattern>/admin/contacts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminIndexUserController</display-name>
		<servlet-name>AdminIndexUserController</servlet-name>
		<servlet-class>controller.AdminIndexUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexUserController</servlet-name>
		<url-pattern>/admin/users</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminIndexSongController</display-name>
		<servlet-name>AdminIndexSongController</servlet-name>
		<servlet-class>controller.AdminIndexSongController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexSongController</servlet-name>
		<url-pattern>/admin/songs</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminAddCatController</display-name>
		<servlet-name>AdminAddCatController</servlet-name>
		<servlet-class>controller.AdminAddCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddCatController</servlet-name>
		<url-pattern>/admin/cat/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminEditCatController</display-name>
		<servlet-name>AdminEditCatController</servlet-name>
		<servlet-class>controller.AdminEditCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditCatController</servlet-name>
		<url-pattern>/admin/cat/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminDelCatController</display-name>
		<servlet-name>AdminDelCatController</servlet-name>
		<servlet-class>controller.AdminDelCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelCatController</servlet-name>
		<url-pattern>/admin/cat/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminDelContactController</display-name>
		<servlet-name>AdminDelContactController</servlet-name>
		<servlet-class>controller.AdminDelContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelContactController</servlet-name>
		<url-pattern>/admin/contact/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminAddUserController</display-name>
		<servlet-name>AdminAddUserController</servlet-name>
		<servlet-class>controller.AdminAddUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddUserController</servlet-name>
		<url-pattern>/admin/user/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminEditUserController</display-name>
		<servlet-name>AdminEditUserController</servlet-name>
		<servlet-class>controller.AdminEditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditUserController</servlet-name>
		<url-pattern>/admin/user/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminDelUserController</display-name>
		<servlet-name>AdminDelUserController</servlet-name>
		<servlet-class>controller.AdminDelUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelUserController</servlet-name>
		<url-pattern>/admin/user/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminAddSongController</display-name>
		<servlet-name>AdminAddSongController</servlet-name>
		<servlet-class>controller.AdminAddSongController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddSongController</servlet-name>
		<url-pattern>/admin/song/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Auth1Util</display-name>
		<servlet-name>Auth1Util</servlet-name>
		<servlet-class>util.Auth1Util</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth1Util</servlet-name>
		<url-pattern>/Auth1Util</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminEditSongController</display-name>
		<servlet-name>AdminEditSongController</servlet-name>
		<servlet-class>controller.AdminEditSongController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminEditSongController</servlet-name>
		<url-pattern>/admin/song/edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminDelSongController</display-name>
		<servlet-name>AdminDelSongController</servlet-name>
		<servlet-class>controller.AdminDelSongController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelSongController</servlet-name>
		<url-pattern>/admin/song/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicIndexController</display-name>
		<servlet-name>PublicIndexController</servlet-name>
		<servlet-class>controller.PublicIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicIndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicCatController</display-name>
		<servlet-name>PublicCatController</servlet-name>
		<servlet-class>controller.PublicCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicCatController</servlet-name>
		<url-pattern>/cat</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicNotFoundController</display-name>
		<servlet-name>PublicNotFoundController</servlet-name>
		<servlet-class>controller.PublicNotFoundController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicNotFoundController</servlet-name>
		<url-pattern>/404</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicDetailController</display-name>
		<servlet-name>PublicDetailController</servlet-name>
		<servlet-class>controller.PublicDetailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicDetailController</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicContactController</display-name>
		<servlet-name>PublicContactController</servlet-name>
		<servlet-class>controller.PublicContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicContactController</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminDelPicController</display-name>
		<servlet-name>AdminDelPicController</servlet-name>
		<servlet-class>controller.AdminDelPicController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminDelPicController</servlet-name>
		<url-pattern>/admin/pic/del</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminIndexController</display-name>
		<servlet-name>AdminIndexController</servlet-name>
		<servlet-class>controller.AdminIndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexController</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AuthLogin</display-name>
		<servlet-name>AuthLogin</servlet-name>
		<servlet-class>controller.AuthLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLogin</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AuthLogout</display-name>
		<servlet-name>AuthLogout</servlet-name>
		<servlet-class>controller.AuthLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthLogout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PublicSearchController</display-name>
		<servlet-name>PublicSearchController</servlet-name>
		<servlet-class>controller.PublicSearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PublicSearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminSearchCatController</display-name>
		<servlet-name>AdminSearchCatController</servlet-name>
		<servlet-class>controller.AdminSearchCatController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchCatController</servlet-name>
		<url-pattern>/admin/cat/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminSearchContactController</display-name>
		<servlet-name>AdminSearchContactController</servlet-name>
		<servlet-class>controller.AdminSearchContactController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchContactController</servlet-name>
		<url-pattern>/admin/contact/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminSearchSongController</display-name>
		<servlet-name>AdminSearchSongController</servlet-name>
		<servlet-class>controller.AdminSearchSongController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchSongController</servlet-name>
		<url-pattern>/admin/song/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminSearchUserController</display-name>
		<servlet-name>AdminSearchUserController</servlet-name>
		<servlet-class>controller.AdminSearchUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminSearchUserController</servlet-name>
		<url-pattern>/admin/user/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AjaxCommentController</display-name>
		<servlet-name>AjaxCommentController</servlet-name>
		<servlet-class>controller.AjaxCommentController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjaxCommentController</servlet-name>
		<url-pattern>/ajax</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminIndexCat1Controller</display-name>
		<servlet-name>AdminIndexCat1Controller</servlet-name>
		<servlet-class>controller.AdminIndexCat1Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminIndexCat1Controller</servlet-name>
		<url-pattern>/admin/cats</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
		<init-param>
			<description>
				Path to configuration file can be relative path inside application,
				absolute path on local file system or UNC path.
			</description>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/library/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>
</web-app>